<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tabela de Ninjas | GitHub Style</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Lista de Ninjas</h1>

<div style="text-align: center; margin-bottom: 30px; display: flex; justify-content: center; gap: 10px;">
    <a class="btn-primary" th:href="@{/ninjas/ui/adicionar}">+ Adicionar Ninja</a>
    <a class="btn-warning" th:href="@{/missoes/ui/listar}" style="background-color: var(--warning); border: none; color: white;"> Gerenciar Missões</a>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Rank</th>
        <th>Missão Designada</th> <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja: ${ninjas}">
        <td th:text="${ninja.id}"></td>
        <td><img th:src="${ninja.imgUrl}" width="60" height="60" style="border-radius: 50%"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.idade}"></td>
        <td th:text="${ninja.rank}"></td>

        <td>
                <span th:if="${ninja.missoes != null}">
                    <strong th:text="${ninja.missoes.nome}"></strong>
                    <br>
                    <small th:text="'(' + ${ninja.missoes.dificuldade} + ')'" style="color: var(--text-muted)"></small>
                </span>
            <span th:if="${ninja.missoes == null}" style="color: var(--danger)">Sem missão</span>
        </td>

        <td>
            <div style="display: flex; gap: 5px;">
                <a th:href="@{/ninjas/ui/listar/{id}(id=${ninja.id})}">Ver</a>
                <a th:href="@{/ninjas/ui/editar/{id}(id=${ninja.id})}" class="btn-warning">Alterar</a>
                <a th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}" class="btn-danger">Deletar</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>